@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
html{
    margin:0;
}
body{
    margin:0;
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 80px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;

    img{
        margin-left:-54px;
        height: 89px;
    }
    a{
        color: black;
        text-decoration: none;
        padding-right:29px;
        font-size: 16px;
        text-transform: capitalize;
    }

    .nav-left{
        margin-left: 14px;
    }
    .nav-right{
        margin-right: 14px;
    }
}

.banner{
    height: 513px;
    background: url(img/banner-bg.jpg);
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;

    div{
        height: 100%;
        width: 70%;
        text-align: center;
        line-height: 0.3;
    }
    p{
        padding-top: 100px;
        color: white;
        font-size: 40px;
        font-weight: 800;
    }
    input{
        min-width: 354px;
        width: 80%;
        max-width: 670px;
        height: 65px;
        margin: 0 auto;
        border-radius: 7px;
        color: grey;
        padding-left: 20px;
        background-color: #f6f6fa;
        font-size: 17px;
        margin-right:-70px;
    }
    button{
        background-color: #f6f6fa;
        font-size: 17px;
        padding: 20px;
        height: 65px;
        border: none;
    }
}
#banner-sell{
    background: url(img/banner-sell.png);
    background-size: cover;
    background-position: bottom;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: 410px;
    div{
        height: 50%;
    }
    h1{
        padding-top: 40px;
        font-size: 45px;
        font-weight: 900;
    }
    p{
        color: black;
        padding:0;
        line-height: 0.3;
        font-weight: 500;
        font-size: 22px;
    }
}
#main{
    margin-top:-10px;
    padding-top: 85px;
    padding-bottom: 146px;
    background-color: #f9f9fb;
    text-align: center;
    letter-spacing: 0.3px;
    font-size: 19px;
    font-weight: 800;
    line-height: 0.1;

    #cards-container{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-top: 43px;
        
        .card{
            background-color: #ffffff;
            height: 467px;
            width: 30%;
            line-height:1;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
            padding: 10px 5px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            img{
                width: 65%;
            }
            h2{
                font-size: 23px;
                font-weight: 700;
            }
            p{
                line-height: 1.5;
                font-weight: 200;
                font-size: 17px;
            }
        }
    }
}
#find-agent{
    display: flex;
    flex-direction: row;
    place-items: center;

    margin-left: 100px;
    #find-agent-1{
        width: 60%;
        text-align: left;

        h2{
            font-size: 50px;
            font-weight: 1300;
        }
        p{
            font-size: 16px;
            line-height: 1.7;
        }
        a{
            text-decoration: none;
            
        }
      /*  #find-btn{
          
            padding: 20px 76px;
            background-color:  #006aff;
            text-align: center;
            font-size: 17px;
            font-weight: 600;
            color: white;
            border-radius: 5px;
        }*/
        #find-btn{
          
            width: 255px;
            padding: 18px 0;
            overflow: hidden;
            background-color:  #006aff;
            text-align: center;
            font-size: 17px;
            font-weight: 600;
            color: white;
            border-radius: 5px;

            display: block;
            margin-bottom: 25px;
        }
        a{
            color: #154fab;
            font-size: 17px;
            font-weight: 900;
        }
    }
    #find-agent-2{
        width: 40%;
        
    }
    img{
        width: 395px;
    }
}
#sell-traditionally{
    display: flex;
    flex-direction: row;
    margin-left: 100px;
    width: 70%;
   
    #why-traditional{
        min-width: 380px;
        background-color: orange;
    }
    #how-traditional{
        min-width: 480px;
        background-color: blue;
    }
}

footer{
    #footer-row1{
        text-align: center;
        padding: 30px 20px;
        border-top: 1px solid #d8d8d8;
        border-bottom: 1px solid #d8d8d8;
        div{
            width: 70%;
            margin: 0 auto;
        }
        a{
            font-size: 14px;
            font-weight: 200;
            line-height: 2.3;
            text-decoration: none;
            color: black;
            padding-right: 25px;
        }
        a:hover{
            text-decoration: underline;
        }
        p{
            a{
                color: #0d4599;
            }  
        }
    }
    #footer-row2{
        padding-top:15px;
        width: 55%;
        margin: 0 auto;
        text-align: center;

    }
    #footer-apps{

        width: 250px;
        margin: 0 auto;
        img{
            height: 41px;
        }
    }
    #footer-socials{
 
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        #footer-logo{
            width: 143px;
            display: inline;
        }
        p{
            padding-left: 20px;
            display:inline;
            color: gray;
            font-style: italic;
        }
        i{
            font-size: 23px;
            padding: 5px;
        }
        .fa-facebook{
            color: #1877f2;
        }
        .fa-instagram{
            color: #0d4599;
        }
        .fa-tiktok{
            color: #006aff;
        }
        .fa-twitter{
            color: #55acee;
        }
    }
    
}
#footer-img{
    height:214px;
    background: url(img/footer.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;    
}