@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
html {
  margin: 0;
}

body {
  margin: 0;
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  height: 80px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

nav img {
  margin-left: -54px;
  height: 89px;
}

nav a {
  color: black;
  text-decoration: none;
  padding-right: 29px;
  font-size: 16px;
  text-transform: capitalize;
}

nav .nav-left {
  margin-left: 14px;
}

nav .nav-right {
  margin-right: 14px;
}

#banner {
  height: 513px;
  background: url(img/banner-bg.jpg);
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#banner div {
  height: 100%;
  width: 70%;
  text-align: center;
  line-height: 0.3;
}

#banner p {
  padding-top: 100px;
  color: white;
  font-size: 40px;
  font-weight: 800;
}

#banner input {
  min-width: 354px;
  width: 900%;
  max-width: 670px;
  height: 65px;
  margin: 0 auto;
  border-radius: 7px;
  color: grey;
  padding-left: 20px;
  background-color: #f6f6fa;
  font-size: 17px;
  margin-right: -70px;
}

#banner button {
  background-color: #f6f6fa;
  font-size: 17px;
  padding: 20px;
  height: 65px;
  border: none;
}

#main {
  margin-top: -10px;
  padding-top: 85px;
  padding-bottom: 146px;
  background-color: #f9f9fb;
  text-align: center;
  letter-spacing: 0.3px;
  font-size: 19px;
  font-weight: 800;
  line-height: 0.1;
}

#main #cards-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 43px;
}

#main #cards-container .card {
  background-color: #ffffff;
  height: 467px;
  width: 30%;
  line-height: 1;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
  padding: 10px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#main #cards-container .card img {
  width: 65%;
}

#main #cards-container .card h2 {
  font-size: 23px;
  font-weight: 700;
}

#main #cards-container .card p {
  line-height: 1.5;
  font-weight: 200;
  font-size: 17px;
}

#footer-img {
  height: 214px;
  background: url(img/footer.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}
/*# sourceMappingURL=style.css.map */