@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
html {
  margin: 0;
}

body {
  margin: 0;
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  height: 80px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

nav img {
  margin-left: -54px;
  height: 89px;
}

nav a {
  color: black;
  text-decoration: none;
  padding-right: 29px;
  font-size: 16px;
  text-transform: capitalize;
}

nav .nav-left {
  margin-left: 14px;
}

nav .nav-right {
  margin-right: 14px;
}

.banner {
  height: 513px;
  background: url(img/banner-bg.jpg);
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.banner div {
  height: 100%;
  width: 70%;
  text-align: center;
  line-height: 0.3;
}

.banner p {
  padding-top: 100px;
  color: white;
  font-size: 40px;
  font-weight: 800;
  line-height: 1;
}

.banner input {
  min-width: 354px;
  width: 80%;
  max-width: 670px;
  height: 65px;
  margin: 0 auto;
  border-radius: 7px;
  color: grey;
  padding-left: 20px;
  background-color: #f6f6fa;
  font-size: 17px;
  margin-right: -70px;
}

.banner button {
  background-color: #f6f6fa;
  font-size: 17px;
  padding: 20px;
  height: 65px;
  border: none;
}

#banner-sell {
  background: url(img/banner-sell.png);
  background-size: cover;
  background-position: bottom;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 410px;
}

#banner-sell div {
  height: 50%;
}

#banner-sell h1 {
  padding-top: 40px;
  font-size: 45px;
  font-weight: 900;
  line-height: 1;
}

#banner-sell p {
  color: black;
  padding: 0;
  line-height: 1;
  font-weight: 500;
  font-size: 22px;
  margin-top: -20px;
}

#main {
  margin-top: -10px;
  padding-top: 85px;
  padding-bottom: 146px;
  background-color: #f9f9fb;
  text-align: center;
  letter-spacing: 0.3px;
  font-size: 19px;
  font-weight: 800;
  line-height: 0.1;
}

#main #cards-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 43px;
}

#main #cards-container .card {
  background-color: #ffffff;
  height: 467px;
  width: 30%;
  line-height: 1;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
  padding: 10px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#main #cards-container .card img {
  width: 65%;
}

#main #cards-container .card h2 {
  font-size: 23px;
  font-weight: 700;
}

#main #cards-container .card p {
  line-height: 1.5;
  font-weight: 200;
  font-size: 17px;
}

#find-agent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  place-items: center;
  margin-left: 100px;
}

#find-agent #find-agent-1 {
  width: 60%;
  text-align: left;
  /*  #find-btn{
          
            padding: 20px 76px;
            background-color:  #006aff;
            text-align: center;
            font-size: 17px;
            font-weight: 600;
            color: white;
            border-radius: 5px;
        }*/
}

#find-agent #find-agent-1 h2 {
  font-size: 50px;
  font-weight: 1300;
}

#find-agent #find-agent-1 p {
  font-size: 16px;
  line-height: 1.7;
}

#find-agent #find-agent-1 a {
  text-decoration: none;
}

#find-agent #find-agent-1 #find-btn {
  width: 255px;
  padding: 18px 0;
  overflow: hidden;
  background-color: #006aff;
  text-align: center;
  font-size: 17px;
  font-weight: 600;
  color: white;
  border-radius: 5px;
  display: block;
  margin-bottom: 25px;
}

#find-agent #find-agent-1 a {
  color: #154fab;
  font-size: 17px;
  font-weight: 900;
}

#find-agent #find-agent-2 {
  width: 40%;
}

#find-agent img {
  width: 395px;
}

#sell-traditionally {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 100px;
  width: 65%;
}

#sell-traditionally #why-traditional {
  min-width: 380px;
}

#sell-traditionally #how-traditional {
  min-width: 480px;
  padding-left: 20px;
}

#sell-traditionally h3 {
  font-size: 20px;
  font-weight: 900;
}

#sell-traditionally p {
  font-size: 17px;
  font-weight: 300;
  line-height: 1.6;
}

#sell-traditionally li {
  font-size: 17px;
  line-height: 2.4;
}

#sell-traditionally ul {
  list-style-type: "✔️   ";
}

#sell-trusted {
  margin-left: 100px;
}

#sell-trusted h3 {
  font-size: 20px;
  font-weight: 900;
}

#sell-trusted h2 {
  font-size: 50px;
  font-weight: 1300;
}

#sell-trusted p {
  font-size: 17px;
  font-weight: 300;
  line-height: 1.6;
  width: 55%;
}

#sell-trusted li {
  font-size: 17px;
  line-height: 2.4;
}

#sell-trusted ul {
  list-style-type: "✔️   ";
}

footer #footer-row1 {
  text-align: center;
  padding: 30px 20px;
  border-top: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
}

footer #footer-row1 div {
  width: 70%;
  margin: 0 auto;
}

footer #footer-row1 a {
  font-size: 14px;
  font-weight: 200;
  line-height: 2.3;
  text-decoration: none;
  color: black;
  padding-right: 25px;
}

footer #footer-row1 a:hover {
  text-decoration: underline;
}

footer #footer-row1 p a {
  color: #0d4599;
}

footer #footer-row2 {
  padding-top: 15px;
  width: 55%;
  margin: 0 auto;
  text-align: center;
}

footer #footer-apps {
  width: 250px;
  margin: 0 auto;
}

footer #footer-apps img {
  height: 41px;
}

footer #footer-socials {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer #footer-socials #footer-logo {
  width: 143px;
  display: inline;
}

footer #footer-socials p {
  padding-left: 20px;
  display: inline;
  color: gray;
  font-style: italic;
}

footer #footer-socials i {
  font-size: 23px;
  padding: 5px;
}

footer #footer-socials .fa-facebook {
  color: #1877f2;
}

footer #footer-socials .fa-instagram {
  color: #0d4599;
}

footer #footer-socials .fa-tiktok {
  color: #006aff;
}

footer #footer-socials .fa-twitter {
  color: #55acee;
}

#footer-img {
  height: 214px;
  background: url(img/footer.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}
/*# sourceMappingURL=style.css.map */